---
import ContentTagArray from "@/page-components/common/ContentTagArray.astro"

export interface Props {
    name: string
    link: string
    transitionName: string
    tags?: string[]
    date?: Date
}
const { name, transitionName, link, tags = [], date } = Astro.props
---
<li transition:name={transitionName}>
    <a href={link} class="card cursor-pointer block p-8 hover:bg-primary/10 border-primary rounded-md no-underline!">
        <h3 class="mt-0! my-0 underline">{name}</h3>
        <p class="mb-0! text-justify">
            <slot />
        </p>
        <ContentTagArray tags={tags} class="mt-4" />
        {date && <time datetime={date.toISOString()} class="block prose-sm leading-8 mt-4">
            Published on {date.toLocaleDateString('en', { month: '2-digit',  day: '2-digit', year: 'numeric' })}
        </time>}
    </a>
</li>